footer {
            background-color: #410606;
            color: rgb(231, 229, 229);
            padding: 40px 8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;
          }

           .footer-logo {
            width: 200px;
          }

          .footer-list {
           list-style: none;
           display: flex;
           gap: 15px;
          }

          .footer-list a {
          color: rgb(223, 175, 175);
          text-decoration: none;
          }

          .footer-copy {
         font-size: 0.8rem;
         color: #aaa;
          }