* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(circle, var(--primary-color-1), var(--primary-color-2));
}
    .page-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 180px 0px 40px;
    }
        h2 {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1rem;
            color: var(--secundary-color);
    }
        h1 {
            font-size: 3rem; 
            font-weight: 600;
            line-height: 3rem;
            color: #410606
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            color: rgb(128, 42, 42);
            margin-top: 6px;
            max-width: 65%;
            text-align: center;
        }

     #main_container {
        background-color:#f0e7ea;
        border-radius: 32px 32px 0px 0px;
        padding: 32px 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 42px;
     }
      #contact_container {
        width: 50%;
     }
        h3 {
            font-size: 2rem;
            font-weight: 400;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            color: #270505;
            width: 80%;
        }

        h4 {
            font-size: 1.6rem;
            font-weight: 500;
            color: #410606;
            margin-top: 10px;}

        #cards_container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        }

        .contact-card {
        display: flex;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.1);   
        background-color: #d3b3b3;
        padding: 18px 12px;
        border-radius: 40px;  
        text-decoration: none;
        transition: box-shadow 0.3s ease;
        }
        
           &:hover {
        box-shadow: 0px 3px 10px rgba(75, 64, 64, 0.1);
        }

          .card-icon {
           display: flex;
           align-items: center;
           justify-content: center;
           margin-top: 4px;
           min-width: 40px;
           min-height: 40px;
           max-width: 40px;
           max-height: 40px;
           border-radius: 100%;
           font-size: 1.2rem;
        }

            .card-infos 
            p {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1rem;
            color: #410606;
            }

            span {
            font-size: 0.8rem;
            font-weight: 400;
            color: #471e1e;
            }
                    
            &.email {
            }
            .card-icon {
            background-color: rgba(248, 228, 228, 0.863);
            color: #461515; 
            }

            &.location .card-icon {
            background-color: rgb(199, 212, 223);
            color: #410606;
            }

            &.whatsapp .card-icon {
            background-color: aliceblue;
            color: #410606;
        }

            #socialmedia-icon {
            display: flex;
            gap: 2px;
            margin-top: 12px;
            }
                    
            .icon-link {
            height: 20px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: rgb(177, 99, 99);
            font-size: 1.2rem;
            border-radius: 100%;
            }

            #contact-formulario {
            width: 50%;
            }

            #contact-formulario form {
             display: flex;
             flex-direction: column;
             gap: 42px;
            }

           .input-group {
            display: flex;
            flex-direction: column;
            }

           .input-group label {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 1rem;
            color: #410606;
           }

           .input-group input,
           .input-group textarea {
           padding: 5px;
           font-size: 1rem;
           border: 2px solid #d6c4c4;
           border-radius: 30px;
           outline: none;
           transition: border-color 0.3s ease, box-shadow 0.3s ease;
           width: 100%;
           }

          .input-group input:focus,
          .input-group textarea:focus {
           border-color: darkred;
           box-shadow: 0 0 5px rgba(139, 0, 0, 0.2);
          }


        .button-submit {
         padding: 14px 24px;
         background-color: #410606;
         color: white;
         border: none;
         border-radius: 40px;
         font-size: 1rem;
         font-weight: 600;
         letter-spacing: 0.5px;
         cursor: pointer;
         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
         transition: background-color 0.3s ease;
         }

         .button-submit:hover {
          background-color: rgb(233, 177, 177);
          transform: scale(1.03);
          transition: all 0.2s ease-in-out;
          }
